@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* variables */
:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --white: #ffffff;
    --light-white: #ccc;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* unversal */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform: capitalize;
}

body{
    background-color: var(--bg);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 11rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
     background-color: var(--white);
     border-radius: 2rem;
}

section{
    padding: 0 7%;
    color: var(--white);
}

.heading{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 4rem;
    text-transform: uppercase;
   
}
.heading span{
    color: var(--white);
    text-transform: uppercase;
}

.btn{
    font-size: 2rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    color: var(--white);
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 0.2rem;
}



/* header css starts here */
.header{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: var(--bg);
    border-bottom: var(--border);
    z-index: 1200;
}

.header .logo{
    width: 7rem;
}

.header .navbar{
    display: flex;
    list-style: none;
}

.header .navbar li a{
    color: var(--white);
    font-size: 1.7rem;
    margin-left: 2rem;
}

.header .navbar li a:hover{
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons i{
    color: var(--white);
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons i:hover{
    color: var(--main-color);
}

.header #menu-btn{
    display: none;
}

.header #cancel-btn{
    display: none;
}

/* search css starts */
.header .search{
    width: 100%;
    max-width: 60rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    position: absolute;
    top: -100%;
    right: 7%;
}

.header .search.active{
    top: 110%;
}


.header .search input{
    font-size: 1.5rem;
    width: 100%;
}

.header .search a{
    color: var(--bg);
    font-size: 3rem;
}

/* search css ends */


/* cart css strats */
 .header .cart{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    width: 35rem;
    padding: 2rem;
    flex-direction: column;
    height: 100vh;
}

.header .cart.active{
    right: 0;
}

.header .cart .item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.header .cart .item img{
    width: 10rem;
}

.header .cart .item .item-tittle{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.header .cart .item h3{
    font-size: 2rem;
    width: 100%;
}

.header .cart .item p{
    font-size: 1.5rem;
    color: var(--main-color);
}


.header .cart .item a{
    font-size: 2.5rem;
    color: var(--bg);
}
/* cart css ends */
/* header css starts here */




/* Home css starts */
.home{
    background: url(../images/home-img.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h1{
    font-size: 6rem;
    color: var(--white);
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color: var(--white);
    font-weight: 100;
    line-height: 3.5rem;
}
/* Home css ends */

/* About css starts */
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--black);
}
.about .image{
    width: 50%;
}

.about .image img{
    width: 100%;
}

.about .text{
    padding: 2rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.about .text h2{
    font-size: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.about .text p{
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--light-white);
    width: 100%;
}
/* About css ends */

/* Menu css starts */
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.menu .box{
    border: var(--border);
    text-align: center;
    padding: 4rem;
}

.menu .box:hover{
    background-color: var(--white);
    color: var(--bg);
}

.menu .box img{
    width: 10rem;
}

.menu .box h3{
    font-size: 2rem;
    margin: 1.5rem 0;
}

.menu .box p{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.menu .box p span{
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: line-through;
}
/* Menu css ends */


/* Product css starts */
.product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.product .box{
    border: var(--border);
    text-align: center;
    padding: 2rem;
}

.product .box a{
    border: var(--border);
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    margin: 0.3rem;
}

.product .box a:hover{
    background-color: var(--main-color);
}

.product .box img{
    margin: 2rem 0;
}

.product .box h3{
    font-size: 2.5rem;
}

.product .box .rating{
    margin: 1.5rem;
}

.product .box i{
    font-size: 1.7rem;
}

.product .box p{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 500;
}

.product .box p span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 100;
}
/* Product css ends */


/* Customer css starts */
.customer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.customer .box{
    text-align: center;
    padding: 2rem;
    border: var(--border);
}

.customer .box img{
    max-width: 8rem;
}

.customer .box p{
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--light-white);
    margin: 1.5rem 0;
}

.customer .box .customer-img{
    border-radius: 50%;
    max-width: 10rem;
}

.customer .box h4{
    font-size: 2rem;
    margin: 1.5rem 0;
}

.customer .box .rating{
    font-size: 1.5rem;
    color: var(--main-color);
}
/* Costomer css ends */

/* Conatct css starts */
.contact{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
}

.contact .map{
    width: 50%;
}

.contact .form{
    width: 50%;
    padding: 4rem 2rem;
    text-align: center;
}

.contact .form h2{
    font-size: 4rem;
    text-transform: uppercase;
}

.contact .form .input-box{
    padding: 2rem;
    margin: 1.5rem 0;
    background-color: var(--bg);
    border: var(--border);
    font-size: 2rem;
    display: flex;

    
}

.contact .form input{
    width: 100%;
    color: var(--white);
    background-color: var(--bg);
    font-size: 1.5rem;
    margin-left: 2rem;
}
/* Conatct css ends */




/* Blog css start */
.blog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.blog .box{
    border: var(--border);
    overflow: hidden;
}

.blog .box .image{
    overflow: hidden;
    width: 100%;
    height: 25rem;
}

.blog .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog .box:hover .image img{
    transform: scale(1.2);
}

.blog .box img:hover{
    transform: scale(1.2);
}

.blog .box .text{
    padding: 2rem;
}

.blog .box h2{
    font-size: 2.5rem;
    font-weight: 400;
}

.blog .box h6{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--main-color);
    margin: 1.5rem 0;
}

.blog .box p{
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--light-white);
}
/* Blog css ends */

/* footer css starts here */
.footer{
    padding: 3rem 0;
    text-align: center;
    background-color: var(--black);
    margin-top: 2rem;
}

.footer .social-media a{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    color: var(--white);
    margin: 0 0.5rem;
    border: var(--border);
    border-radius: 50%;
    line-height: 5rem;
}

.footer .social-media a:hover{
    background-color: var(--main-color);
}


.footer .links{
    margin: 3rem;
}

.footer .links a{
    border: var(--border);
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
    margin: 0.5rem 0.5rem;
    color: var(--white);
}

.footer .links a:hover{
    background-color: var(--main-color);
}

.footer p{
    font-size: 2rem;
    font-weight: 300;
}

.footer p span{
    color: var(--main-color);
    font-size: 2.5rem;
}
/* footer css ends here */













/* Media Queries for Responsive */

@media (max-width: 990px){
    html{
        font-size: 55%;
    }

    section{
        padding: 0 3%;
    }

    .header{
        padding: 2rem 3%;
    }
}


@media (max-width: 770px){

    html{
        font-size: 52%;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--white);
        width: 30rem;
        flex-direction: column;
        height: 100vh;
        padding: 2.5rem;
    }

    .header .navbar.active{
        right: 0;
    }

    .header .icons.active #cancel-btn{
        display: inline-block;
    }

    .header .icons.active #menu-btn{
        display: none;
    }

    
    .header .navbar li a{
        color: var(--bg);
        display: block;
        font-size: 2.5rem;
        margin: 0;
        margin-bottom: 3rem;
    }

    .header #menu-btn{
        display: inline-block;
    }

    .home .content{
        width: 100%;
        max-width: 70rem;
        text-align: center;
        margin: 0 auto;
    }

    .home .content h1{
        font-size: 5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about .image{
        width: 100%;
    }

    .about .text{
        width: 100%;
    }

    .contact .map{
        width: 100%;
    }
    
    .contact .form{
        width: 100%;
    }
    
}

@media (max-width: 460px){
    .home .content h1{
        font-size: 4rem;
    }
}